@media screen and (min-width: 768px) {
  h1 {
    font-size: 49px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  #main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 106px;
  }

  #main-section p {
    padding-left: 100px;
    padding-right: 100px;
  }

  #main-section button {
    margin-left: 15px;
    margin-right: 15px;
  }

  #prices {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hiking-tours-intro {
    padding-left: 50px;
    padding-right: 50px;
  }

  #hiking-tours {
    padding-left: 100px;
    padding-right: 100px;
  }

  #orzsi-house-details {
    padding-left: 50px;
    padding-right: 50px;
  }

  #gallery {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 866px) {
  #hiking-tours {
    padding-left: 115px;
    padding-right: 115px;
  }
}

@media screen and (min-width: 1000px) {
  #main-section p {
    padding-left: 200px;
    padding-right: 200px;
  }

  #about-us p {
    padding-left: 100px;
    padding-right: 100px;
  }

  #prices {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .hiking-tours-intro {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  #hiking-tours {
    padding-left: 115px;
    padding-right: 115px;
  }

  #guszti-house-details {
    padding-left: 50px;
    padding-right: 50px;
  }

  #orzsi-house-details {
    padding-left: 100px;
    padding-right: 100px;
  }

  #gallery {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1200px) {
  #main-section p {
    padding-left: 300px;
    padding-right: 300px;
  }

  #about-us p {
    padding-left: 200px;
    padding-right: 200px;
  }

  #prices {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .hiking-tours-intro {
    padding-left: 100px;
    padding-right: 100px;
  }

  #hiking-tours {
    padding-left: 100px;
    padding-right: 100px;
  }

  #guszti-house-details {
    padding-left: 100px;
    padding-right: 100px;
  }

  #orzsi-house-details {
    padding-left: 100px;
    padding-right: 100px;
  }

  #gallery {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1400px) {
  #main-section p {
    padding-left: 400px;
    padding-right: 400px;
  }

  #about-us p {
    padding-left: 300px;
    padding-right: 300px;
  }

  #prices {
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .hiking-tours-intro {
    padding-left: 150px;
    padding-right: 150px;
  }

  #hiking-tours {
    padding-left: 150px;
    padding-right: 150px;
  }

  nav {
    padding-left: 150px;
    padding-right: 150px;
  }

  #guszti-house-details {
    padding-left: 150px;
    padding-right: 150px;
  }

  #orzsi-house-details {
    padding-left: 150px;
    padding-right: 150px;
  }

  #gallery {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 1600px) {
  #main-section p {
    padding-left: 500px;
    padding-right: 500px;
  }

  #about-us p {
    padding-left: 400px;
    padding-right: 400px;
  }

  #prices {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .hiking-tours-intro {
    padding-left: 200px;
    padding-right: 200px;
  }

  #hiking-tours {
    padding-left: 200px;
    padding-right: 200px;
  }

  nav {
    padding-left: 200px;
    padding-right: 200px;
  }

  #guszti-house-details {
    padding-left: 200px;
    padding-right: 200px;
  }

  #orzsi-house-details {
    padding-left: 200px;
    padding-right: 200px;
  }

  #gallery {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1800px) {
  #main-section p {
    padding-left: 600px;
    padding-right: 600px;
  }

  #about-us p {
    padding-left: 500px;
    padding-right: 500px;
  }

  #prices {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 250px;
    padding-right: 250px;
  }

  .hiking-tours-intro {
    padding-left: 250px;
    padding-right: 250px;
  }

  #hiking-tours {
    padding-left: 250px;
    padding-right: 250px;
  }

  nav {
    padding-left: 250px;
    padding-right: 250px;
  }

  #guszti-house-details {
    padding-left: 250px;
    padding-right: 250px;
  }

  #orzsi-house-details {
    padding-left: 250px;
    padding-right: 250px;
  }

  #gallery {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media screen and (min-width: 620px) {
  .map-first {
    left: 50px;
  }

  .map-second {
    right: 120px;
  }
}

@media screen and (min-width: 920px) {
  .map-first {
    left: 100px;
  }

  .map-second {
    right: 220px;
  }
}

@media screen and (min-width: 1350px) {
  .map-first {
    left: 200px;
  }

  .map-second {
    top: 15%;
    right: 320px;
  }
}

@media screen and (min-width: 1600px) {
  .map-first {
    left: 300px;
  }

  .map-second {
    right: 420px;
  }
}

@media screen and (min-width: 1800px) {
  .map-first {
    left: 400px;
  }

  .map-second {
    right: 520px;
  }
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}